<%= content_for :title do %>
  <%= t "page.front-end.home-page.title" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.front-end.home-page.title" %>
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <h5>Something here .....</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dolorum asperiores rerum et. Sunt dignissimos tempora odio quidem dolor magni reprehenderit, qui asperiores, nesciunt fugit accusamus, harum laborum excepturi. Ut.
      </p>
    </div>
  </div>
</div>
