<% if object.errors.any? %>
  <div id="error_explanation" class="card">
    <i class="fa fa-times exit_alert" aria-hidden="true" ></i>
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul class="red-text">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
