// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";

* {
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

div.container {
  min-height: 420px !important;
}
// ===========================
// ============ Header =======
// ===========================

div.header {
  nav.teal {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 5.5%;
  }
}

//=======================
//====C Content ========
//=======================
td.action_subject {
  position: relative;
  div {
    position: absolute !important;
    top: 5px;
    right: 0px;
    a {
      width: 40px !important;
      height: 40px !important;
      i {
        line-height: 40px !important;
      }
    }
    ul {
      top: 10% !important;
      right: 40px !important;
      li {
        a {
          width: 30px !important;
          height: 30px !important;
          i {
            line-height: 30px !important;
          }
        }
      }
    }
  }
}

table {
  tbody {
    tr {
      height: 50px;
    }
  }
}

.waves-light {
  top: 60px;
}

.truncate {
  display: table-cell;
  width: 50px;
  overflow: hidden;
}

.btn-default {
  background-color: #fff;
  color: #212121;
}

.btn-create-subject {
  a, i {
    width: 49%;
  }
}

.card {
  padding: 10px;
  ul {
    li {
      margin-left: 10px;
    }
  }
}

.exit_alert {
  color: #e0e0e0;
  position: absolute;
  top: 0px;
  right: 0px;
  &:hover {
    cursor: pointer;
  }
}

.btn-default {
  background-color: #fff;
  color: #212121;
}

.btn-create-subject {
  a, i {
    width: 49%;
  }
}

.card {
  padding: 10px;
  ul {
    li {
      margin-left: 10px;
    }
  }
}
