// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";

* {
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

// ===========================
// ============ Header =======
// ===========================

div.header {
  nav.teal {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 5.5%;
  }
}

//=======================
//====C Content ========
//=======================
td.action_subject {
  position: relative;
  div {
    position: absolute !important;
    top: 5px;
    right: 0px;
    a {
      width: 40px !important;
      height: 40px !important;
      i {
        line-height: 40px !important;
      }
    }
    ul {
      top: 10% !important;
      right: 40px !important;
      li {
        a {
          width: 30px !important;
          height: 30px !important;
          i {
            line-height: 30px !important;
          }
        }
      }
    }
  }
}

table {
  tbody {
    tr {
      height: 50px;
    }
  }
}

.waves-light {
  top: 60px;
}

.truncate {
  display: table-cell;
  width: 50px;
  overflow: hidden;
}

.btn-default {
  background-color: #fff;
  color: #212121;
}

.btn-create-subject {
  a, i {
    width: 49%;
  }
}

.card {
  padding: 10px;
  ul {
    li {
      margin-left: 10px;
    }
  }
}

.exit_alert {
  color: #e0e0e0;
  position: absolute;
  top: 0px;
  right: 0px;
  &:hover {
    cursor: pointer;
  }
}

.btn-default {
  background-color: #fff;
  color: #212121;
}

.btn-create-subject {
  a, i {
    width: 49%;
  }
}

.card {
  padding: 10px;
  ul {
    li {
      margin-left: 10px;
    }
  }
}

.card-panel {
  margin-top: 50px;
}

.waves-effect {
  position: static !important
}

.suggest_question {
  margin-right: 20px;
  button {
    width: 49%;
  }
}

.add_fields {
  margin-left: 8%;
  margin-bottom: 5%;
}

.suggest_question {
  margin-top: 50px;
}

.suggest_question_answers {
  margin-top: 65px !important;
}

.loading {
  margin-left: -50%
}
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: static !important;
  opacity: 1 !important;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  position: relative !important;
  padding-left: -9999px !important;
  cursor: pointer;
  display: inline-block;
  height: 0px !important;
  line-height: 0px !important;
  font-size: 0rem !important;
  transition: .28s ease;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
  border: 0px !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: transparent !important;
  z-index: -9999 !important;
  opacity: 0 !important;
}

[type="radio"] + label:before, [type="radio"] + label:after {
  content: '';
  position: static !important;
  width: 0px !important;
  height: 0px !important;
  z-index: 0;
  transition: 0s ease !important
}

.quesiton_number {
  text-decoration: underline;
}

.question_answers {
  height: 180px;
}

.clock_count_down {
  position: absolute;
  top: 170px;
  height: 120px;
  width: 120px !important;
  border-radius: 50%;
  border: 1px solid #80cbc4;
  p {
    position: absolute;
    top: 45px;
    left: 25px;
  }
}

.login-form {
    width: 280px;
}

.heading-form {
  margin-bottom: 20px;
  .login_form_text {
    letter-spacing: 2px;
    font-size: 1.8rem;
  }

}

.icon_form_auth {
  top: 15px;
}

.remember_me {
  margin-top: -20px;
  .input-field {
    margin-top: 0.7rem !important
  }
}

.link_related {
  div:first-child {
    a {
      margin-left: 20px;
    }
  }
}

.submit_button {
  display: inline-block;
  width: 49%
}
