<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-bordered table-hove no-footer">
      <thead>
        <tr>
          <th><%= t "page.admin.information_log" %></th>
        </tr>
      </thead>
      <tbody>
        <%= generate_log %>
      </tbody>
    </table>
  </div>
</div>
