<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="center-align"><%= t "page.admin.information_log" %></h4>
    <table class="table table-striped table-bordered table-hove no-footer"
    id="table-log">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= generate_log %>
      </tbody>
    </table>
  </div>
</div>
